node_modules
.next
.next-rehearsal
dist
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.swp
.codex-data

*storybook.log
storybook-static
.vercel
.env*
.local-switch-data/
